@import "fonts.css";

html {
  background-color: #1b1f2a;
  scroll-behavior: smooth;
}

body, * {
  box-sizing: border-box;
  color: #fff;
  font: normal 400 18px/1 'Chunky-tomato-bisque', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  opacity: 1;
  padding: 0;
}

.bold {
  color: #fff;
  font-weight: 700;
}

.subject-bold {
  font: 700 1em "Chunky-tomato-bisque", sans-serif;
}


/*---------------------------------*/
/*---------- Animations -----------*/
/*---------------------------------*/


@keyframes fade {
  0% { opacity:0; }
  50% { opacity:0; }
  100% { opacity:1; }
}


/*---------------------------------*/
/*------------ To Top -------------*/
/*---------------------------------*/


.toTop {
  background-color: #fff;
  border-radius: 100px;
  bottom: 20px;
  box-shadow:  0px 5px 7px rgba(0,0,0,.2);
  color: #000;
  cursor: default;
  display: block;
  font-size: 1.4em;
  opacity: 0;
  padding: 10px;
  position: fixed;
  right: 20px;
  transition: .2s;
  visibility: hidden;
}

.fade-in {
  opacity: 1;
  cursor: pointer;
  visibility: visible;
}

.toTop:hover {
  opacity: .7;
}


/*---------------------------------*/
/*-------------- Nav --------------*/
/*---------------------------------*/


.nav-container {
  align-items: center;
  animation-name: fade;
  animation-duration: 2s;
  background-color: #1b1f2a;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: .1s;
}

.nav-left {
  margin: 20px 0 0 40%; /*36% margin because this element is only 50% of the full screen width,
                       hence 36% of 50% screen width equals 18% of 100% screen width.*/
}

.nav-left a {
  font: 700 1em 'Chunky-tomato-bisque', sans-serif;
  padding: 0 0 2px 0;
  text-decoration: none;
}

.nav-left a i { /*back arrow*/
  padding:0 10px 4px 0;
  transition: .1s;
  vertical-align: middle;
}

.nav-left a:hover > i {
  color: #fff;
  margin: 0 0 0 -5px;
  padding: 0 15px 4px 0;
  transition: .1s;
}

.nav-left a:hover, 
.nav-left a:focus {
  border-bottom: 1px solid #fff;
}

.nav-right {
  margin: 20px 40% 0 0;
  text-align: right;
}

.nav-right a:not(:last-child) {
  margin:0 20px 0 0;
}

.nav-right a {
  color: #fff;
  padding: 0 0 2px 0;
  opacity: .7;
  text-decoration: none;
}

.nav-right a:hover,
.nav-right a:focus {
  border-bottom: 1px solid white;
  opacity: 1;
}

.nav-left a:active,
.nav-right a:active {
  opacity: .5;
}

.nav-right .current-page {
  border-bottom: 1px solid white;
  opacity: 1;
}


/*---------------------------------*/
/*-------- Project Wrapper --------*/
/*---------------------------------*/


.page-wrapper {
  animation-name: fade;
  animation-duration: 2s;
  margin: 0 20%;
  width: 60%;
}




/*---------------------------------*/
/*-------- Project Header ---------*/
/*---------------------------------*/


.header-container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 260px 0 0 0;
}

.header {
  grid-column-start: 1;
  grid-column-end: 9;
  z-index: 1;
}

.header h3 {
  font: 400 1.66em/1.2 "Lentil-vegetable", serif;
}


/*---------------------------------*/
/*------------- Bio ---------------*/
/*---------------------------------*/


.bio-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 40px;
  margin: 140px 0;
}

.portrait {
  grid-column-start: 1;
  grid-column-end: 6;
}

.portrait img {
  width: 100%;
}

.bio {
  grid-column-start: 6;
  grid-column-end: 13;
}

.bio p {
  font: 400 1em/1.5 "Chunky-tomato-bisque", sans-serif;
}


.bio p:not(:first-child) {
  margin: 15px 0 0 0;
}


/*---------------------------------*/
/*----------- Experience ----------*/
/*---------------------------------*/


.resume-container {
  border-top: 1px solid rgba(255, 255, 255,.2);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 40px;
  margin: 140px 0;
  padding: 140px 0 0 0;
}

.skills {
  grid-column-start: 1;
  grid-column-end: 6;
}

.experience {
  grid-column-start: 6;
  grid-column-end: 13;
}

.resume-container h3 {
  font: 700 2em/1.2 "Chunky-tomato-bisque", sans-serif;;
}

.resume-container p {
  font: 400 1em/1.5 "Chunky-tomato-bisque", sans-serif;
  margin-top: 30px;
  opacity: 0.9;
}

.resume-container p span {
  font: 700 1em/1.5 "Chunky-tomato-bisque", sans-serif;
}

.resume-button {
  margin: 140px 0;
}

.resume-button a {
  border-bottom: 1px solid #fff;
  padding: 0 0 3px 0;
  text-decoration: none
}

.resume-button a:hover {
  border-bottom: none;
  opacity: .7;
  text-decoration: none;
}


/*---------------------------------*/
/*------------ Tooltip ------------*/
/*---------------------------------*/


.tooltip {
  border-bottom: 1px dotted #fff;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: 400 1em "Lentil-vegetable", serif;
  position: relative;
}

.tooltip .popup {
  background-color: #12131d;
  border-radius: 5px;
  bottom: calc(100% + 5px);
  color: #fff;
  font: 400 18px/1.3 "Chunky-tomato-bisque", sans-serif;
  left: 50%;
  margin: 0 0 -5px -150px;
  width: 300px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  transition: .2s;
  visibility: hidden;
  z-index: 2; 
}

.tooltip:hover .popup {
  visibility: visible;
  margin: 0 0 0 -150px;
  opacity: 1;
  transition-delay: .2s;
}

.tooltip .popup a {
  color: #FFFFFF;
  text-decoration: underline;
  font: 400 1em/1.3 "Chunky-tomato-bisque", sans-serif;
}

.tooltip .popup a:hover{
  opacity: .7;
}


/*---------------------------------*/
/*----------- Reach Out -----------*/
/*---------------------------------*/


.email-container {
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255,.2);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 180px 0 0 0;
}

.email-gif {
  background-color: #1b1f2a;
  grid-column-start: 5;
  grid-column-end: 9;
  width: 70%;
  margin: 50px 15% 70px 15%;
}

@supports (mix-blend-mode: screen) {
  .email-gif img {
    width: 100%;
    mix-blend-mode: screen;
  }
}

@supports not (mix-blend-mode: screen) {
  .email-gif img {
    width: 100%;
    display: none;
  }

  .header-container {
    margin: 230px 0 100px 0;
  }
}

.email-text {
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 10;
  width: 110%;
  margin: 0 0 0 -5%;
}

.email-text p {
  font: 400 1em/1.5 "Chunky-tomato-bisque", serif;
  margin: 70px 0 0 0;
}

.email-text p a {
  font: 400 1em/1.4 "Chunky-tomato-bisque", serif;
  opacity: .7;
  padding: 0 0 5px 0;
  text-decoration: none;
  border-bottom: 1px solid #fffs;
}

.email-text a:hover {
  font: 400 1em/1.4 "Chunky-tomato-bisque", serif;
  opacity: 1;
}

.email-heart {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 13;
  margin: 0 0 20px 0;
}


/*---------------------------------*/
/*------------ Tablets ------------*/
/*---------------------------------*/


@media only screen and (max-width: 1000px) {
  .project-wrapper {
    margin: 0 5%;
    width: 90%;
  }

  .nav-left {
    margin: 70px 0 0 10%;
  }

  .nav-right {
    margin: 70px 10% 0 0;
  }

  .subtitle {
    grid-column-start: 1;
    margin: 70px 0 0 0;
  }

  .tooltip .popup {
    display: none;
  }

  .footer {
    margin: 280px 5% 100px 5%;
    width: 90%;
  }

  .previous-project a i {
    display: none;
  }

  .previous-project a span {
    display: none;
  }

  .next-project a i {
    display: none;
  }

  .next-project a span {
    display: none;
  }

}


/*---------------------------------*/
/*------------ Phones -------------*/
/*---------------------------------*/


@media only screen and (max-width: 600px) {

  .header-container {
    column-gap: 0px;
  }

  .chapter-container {
    column-gap: 0px;
  }

  .title,
  .subtitle,
  .overview-info,
  .paragraph,
  .large-image,
  .small-image {
    grid-column-start: 1;
    grid-column-end: 13;
    column-gap: 0;
  }

  .paragraph,
  .large-image,
  .small-image,
  .double-image {
    margin: 30px 0 0 0;
  }

  .header {
    grid-column-end: 13;
  }

  .header-title {
    font: 400 1.6em/1.3 "Lentil-vegetable", serif;
  }

  .brief {
    grid-column-start: 1;
  }

  .brief p {
    font: 400 1.3em/1.4 "Lentil-vegetable", serif;
  }

  .info-row {
    grid-template-columns: 1fr;
  }

  .info-row:not(:first-child) {
    margin: 15px 0 0 0;
  }

  .double-image {
    grid-template-columns: 1fr;
  }

  .double-image img{
    margin: 30px 0 0 0;
  }

  .paragraph ol {
    list-style: decimal inside;
  }

}