/* CHUNKY TOMATO BISQUE FONT */

@font-face {
    font-family: 'Chunky-tomato-bisque';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/chunky-tomato-bisque/chunky-tomato-bisque-regular.otf') format('opentype');
}

@font-face {
    font-family: 'Chunky-tomato-bisque';
    font-weight: 600;
    font-style: normal;
    src: url('fonts/chunky-tomato-bisque/chunky-tomato-bisque-semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Chunky-tomato-bisque';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/chunky-tomato-bisque/chunky-tomato-bisque-bold.otf') format('opentype');
}

@font-face {
    font-family: 'Chunky-tomato-bisque';
    font-weight: 700;
    font-style: italic;
    src: url('fonts/chunky-tomato-bisque/chunky-tomato-bisque-bold-italic.otf') format('opentype');
}

@font-face {
    font-family: 'Lentil-vegetable';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/lentil-vegetable/lentil-vegetable-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Lentil-vegetable';
    font-weight: 400;
    font-style: italic;
    src: url('fonts/lentil-vegetable/lentil-vegetable-italic.ttf') format('truetype');
}



/* HTML & BODY */

html {
	scroll-behavior: smooth;
	background-color: #1B1F2A;
}

body, * {
	padding: 0;
	margin: 0;
	font: normal 400 18px/1 'Chunky-tomato-bisque', sans-serif;
	color: #ffffff;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-underline-offset: 5px;
}

::selection {
  background: pink; /* WebKit/Blink Browsers */
}


/* Add margin on top of anchor tags */
a.top {
	position: relative;
	top:-100px;
	display: block;
	height: 0;
	width:0;
}

/* MOBILE NAV */

.mobile-sitename {
	display: none;
	height: 85px;
	background-color: #1B1F2A;
	width: 100%;
}

.mobile-sitename div {
	padding-top: 40px;
	margin-left: 10%;
}

.mobile-sitename div a {
	font: 700 1em 'Chunky-tomato-bisque', sans-serif;
	text-decoration: none;
}

.mobile-menu {
	z-index: 3000;
	display: none;
	position: fixed;
	bottom: 0;
	height: 70px;
	background-color: #1B1F2A;
	width: 100%;
}

.mobile-menu-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	justify-content: center;
	height: 100%;
}

.mobile-menu-content div {
	padding-top: 25px;
	transition: 0.1s;
}

.mobile-menu-content div:hover {
	background-color: #1B1F2A;
}

.mobile-menu-content div a {
	text-decoration: none;
	opacity: 0.7;
}


/* NAVIGATION */

#page-navigation {
	position: fixed;
	width: 100%;
	height: 140px;
	z-index: 3000;
	background-color: #1B1F2A;
	/*align-items: center;*/
	/*border-bottom: 1px solid rgba(255,255,255,0.2);*/
	transition: 0.2s;
}

#nav-left {
	margin-left: 18%;
	display: inline-block;
	margin-top: 100px;
	transition: 0.2s;
}

#nav-left a {
	font: 700 1em 'Chunky-tomato-bisque', sans-serif;
	opacity: 1;
	text-decoration: none;
}

#nav-left a:hover {
	opacity: 0.7;
	text-decoration: underline;
}

#nav-left a:focus {
	opacity: 0.7;
	text-decoration: underline;
}

#nav-right {
	margin-right: 18%;
	display: inline-block;
	float: right;
	margin-top: 100px;
	transition: 0.2s;

}

#nav-right a {
	font: 400 1em 'Chunky-tomato-bisque', sans-serif;
	opacity: 0.7;
	text-decoration: none;
}

#nav-right a:not(:first-child) {
	margin-left: 30px
}

#nav-right a:hover {
	opacity: 1;
	text-decoration: underline;
}

#nav-right a:focus {
	opacity: 1;
	text-decoration: underline;
}

#work-tab {
}

#about-tab {

}

#resume-tab {

}

/* TO TOP BUTTON */

.toTop {
  display: block;
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  font-size: 1.4em;
  border: none;
  outline: none;
  background-color: #FFFFFF;
  cursor: default;
  color: #000000;
  padding: 10px;
  transition: 0.2s;
  border-radius: 100px;
}

.fade-in-element {
  opacity: 1;
  cursor: pointer;
}

#toTop:hover {
  color: #A4A7A9;
}


/* PAGE HEADER */

.page-header {
	margin-left: 18%;
	width: 64%;
	display: grid;
	min-height: 650px;
	grid-template-columns: 1.3fr 0.7fr;
	align-items: center;
}

.intro-text {
  font: 400 2em/1.1 "Lentil-vegetable", serif;
	width: 90%;
	margin-top: 70px;
	display: block;
	color: #F4F4F4;
}

.intro-text .subject-bold {
  font: 700 1em "Chunky-tomato-bisque", sans-serif;
	color: #FFFFFF;
}

.intro-text .italic {
  font: italic 400 1em "Lentil-vegetable", serif;
	color: #F4F4F4;
}

.header-character {
	overflow: hidden;
	background-color: #1B1F2A;
}

@supports (mix-blend-mode: screen) {
  .header-character img {
  	width: 130%;
	  margin-left:-15%;
    mix-blend-mode: screen
  }
}
@supports not (mix-blend-mode: screen) {
  .header-character img {
  	width: 130%;
    margin-left:-15%;
    display: none;
  }
}

/* WORK CONTENT */

.background-wrapper {
	min-height: 95vh;
}

.work-content {
	width: 64%;
	margin-left: 18%;
}

.scroll {
	display: grid;
	text-align: center;
	align-items: center;
}

/*.scoll:hover > i {
	padding-top: 10px;
}*/

.scroll p {
	opacity: 0.3;
	line-height: 1.4em;
}

.scroll i {
	color: #ffffff;
	opacity: 0.3;
	line-height: 1.4em;
}

.work-row-single {
	margin-top: 150px;
}

/*This is a trash implementation, 
but I'm stumped by why this would 
just be the first-child of 
.work-row-single after adding 
the .scroll-note p tag*/
.work-row-single-first {
	margin-top: 30px;
}

.work-row-double {
	margin-top: 150px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
}

.project {
	transition: 0.3s;
}

.project:hover {
	opacity: 0.7;
	transition: 0.3s;
}

.project a {
	text-decoration: none;
}

.project-thumbnail {
	width: 100%;
	overflow: hidden;
}

.work-row-single-first .project-thumbnail img {
	width: 100%;
	/*height: 100%;*/
	object-fit: cover;
	border-radius: 4px;
}

.work-row-single .project-thumbnail img {
	width: 100%;
	/*height: 100%;*/
	object-fit: cover;
	border-radius: 4px;
}

.work-row-double .project-thumbnail img {
	width: 100%;
	/*height: 100%;*/
	object-fit: cover;
	border-radius: 4px;
}

.work-row-single-first .project-info {
	padding-top: 20px;
	width: 90%;
}

.work-row-single .project-info {
	padding-top: 20px;
	width: 90%;
}

.work-row-double .project-info {
	padding-top: 20px;
	width: 80%;
}

.project-info h2 {
  font: 400 1.4em/1.2 "Lentil-vegetable", serif;
	color: #F4F4F4;
}

.project-info h2 .subject-bold {
  font: 700 1em "Chunky-tomato-bisque", sans-serif;
	color: #FFFFFF;
}

.project-info h2 .italic {
  font: italic 400 1em "Lentil-vegetable", serif;
	color: #F4F4F4;
}

.more-work {
	margin-top: 230px;
	text-align: center
}

.more-work a {
	padding: 20px;
	text-decoration: underline;
	opacity: 0.6;
}

.more-work a:hover {
	text-decoration: none;
	opacity: 1.0;
}


/* EMAIL BOX */

.email-box {
	margin-left: 18%;
	width: 64%;
	min-height: 400px;
	background-color: #13141C;
	margin-top: 200px;
	border-radius: 4px;
	display: grid;
	grid-template-columns: 0.9fr 1.1fr;
	align-items: center;
}

.email-text {
	width: 75%;
	/*margin-top: -20px;*/
}

.email-text p {
	margin-top: 30px;
	margin-bottom: 30px;
	opacity: 0.9;
	line-height: 1.3em;
}

.email-text h4 {
  font: 400 1.7em "Lentil-vegetable", serif;
}

.email-text h4 .subject-bold{
  font: 700 .95em "Chunky-tomato-bisque", sans-serif;
}

.email-text a {
	margin-top: 30px;
	text-decoration: underline;
	opacity: 0.6;
}

.email-text a:hover {
	text-decoration: none;
	opacity: 1.0;
}

@supports (mix-blend-mode: screen) {
  .email-img img {
  	margin-top: 25px;
  	margin-left: 5%;
	width: 100%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
    mix-blend-mode: screen
  }
}
@supports not (mix-blend-mode: screen) {
  .email-img img {
  	width: 130%;
	margin-left:-15%;
    display: none;
  }
}

/* FOOTER SMALL */

.footer {
	width: 64%;
	margin-left: 18%;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	background-color: #1B1F2A;
	margin-top: 70px;
	min-height: 85px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
}

.footer .footer-col {
	display: grid;
	align-items: center;
}

.footer .footer-col:last-child {
	text-align: right;
}

.footer .footer-col .copyright {
	opacity: 0.7;
}


/* TOOLTIP */

.tooltip {
  font: 400 1em "Lentil-vegetable", serif;
	color: inherit;
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted #FFFFFF;
	cursor: pointer;
}

.tooltip .tooltiptext {
	visibility: hidden;
	max-width: 350px;
	background-color: #13141C;
	color: #FFFFFF;
  font: 400 1em/1.3 "Chunky-tomato-bisque", sans-serif;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	z-index: 3001; /*Real good code*/
	bottom: 125%;
	left: 50%;
	margin-left: -200px;
	margin-bottom: -10px;
	opacity: 0;
	transition: 0.15s;
}

.tooltip .tooltiptext a{
	color: #FFFFFF;
	text-decoration: underline;
  font: 1em/1.3 "Chunky-tomato-bisque", sans-serif;
}

.tooltip .tooltiptext a:hover{
	opacity: 0.7;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	margin-bottom: 0;
	opacity: 1;
	transition-delay: 0.2s;
}


/* For tablets: */
@media only screen and (max-width: 1000px) {

	#nav-left {
		margin-left: 10%;
	}

	#nav-right {
		margin-right: 10%;
	}

	.page-header{
		margin-left: 10%;
		width: 80%;
	}

	.header-introduction-text {
		width: 80%;		
	}

	.work-content {
		padding-bottom: 170px;
		width: 80%;
		margin-left: 10%;
	}

	.email-box {
		margin-left: 10%;
		width: 80%;
	}

	.email-img img{
		margin-left: 15%;
		height: 170px;
	}

	.footer {
		width: 80%;
		margin-left: 10%;
	}
}

/* For phone */
@media only screen and (max-width: 600px) {

	#page-navigation {
		display: none;
	}

	.mobile-sitename {
		display: block;
	}

	.mobile-menu {
		display: block;
	}

	.header-introduction {
		padding-top: 100px;
		margin-bottom: 150px;
	}

	.header-introduction-text {
		width: 100%;
		font-size: 1.2em;		
	}

	.email-box {
		grid-template-columns: auto;
		align-items: center;
	}

	.email-text {
		padding: 50px 0px;
		margin-left: 15%;
		text-align: center;
		width: 70%;
	}

	.email-img {
		padding-top: 50px;
		margin-left: 20%;
	}

	.footer {
		margin-bottom: 70px;
	}
}


