@import "fonts.css";

html {
  background-color: #f1f3ec;
  scroll-behavior: smooth;
}

body, * {
  box-sizing: border-box;
  color: #2b3348;
  font: normal 400 18px/1 'Chunky-tomato-bisque', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  opacity: 1;
  padding: 0;
}

.bold {
  color: #2b3348;
  font-weight: 700;
}

.subject-bold {
  font: 700 1em "Chunky-tomato-bisque", sans-serif;
}

::selection {
  background: #C8CBC1;
}
::-moz-selection {
  background: #C8CBC1;
}

a.top {
  position: relative;
  top:-100px;
  display: block;
  height: 0;
  width:0;
}


/*---------------------------------*/
/*---------- Animations -----------*/
/*---------------------------------*/


@keyframes fade {
  0% { opacity:0; transform:}
  50% { opacity:0; transform:}
  100% { opacity:1; transform:}
}


/*---------------------------------*/
/*------------ To Top -------------*/
/*---------------------------------*/


.toTop {
  background-color: #2b3348;
  border-radius: 100px;
  bottom: 20px;
  color: #fff;
  cursor: default;
  display: block;
  font-size: 1.4em;
  opacity: 0;
  padding: 10px;
  position: fixed;
  right: 20px;
  visibility: hidden;
}

.fade-in {
  opacity: 1;
  cursor: pointer;
  visibility: visible;
}

.toTop:hover {
  opacity: .7;
}


/*---------------------------------*/
/*-------------- Nav --------------*/
/*---------------------------------*/


.nav {
  background-color: #f1f3ec;
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: .1s;
  display: grid;
  align-items: center;
}

.nav-container {
  align-items: center;
  animation-name: fade;
  animation-duration: 2s;
  margin: 20px 18% 0 18%;
  display: grid; 
  grid-template-columns: 1fr 5fr;
  transition: .1s;
}

.nav-left a {
  font: 700 1.2em 'Chunky-tomato-bisque', sans-serif;
  padding: 0 0 2px 0;
  text-decoration: none;
}

.nav-right {
  text-align: right;
}

.nav-right a:not(:last-child) {
  margin:0 20px 0 0;
}

.nav-right a {
  padding: 0 0 2px 0;
  text-decoration: none;
}

.nav-right .current-page {
  border-bottom: 1px solid #2b3348;
}

.nav-left a:hover, 
.nav-left a:focus,
.nav-right a:hover,
.nav-right a:focus {
  border-bottom: 1px solid #2b3348;
  text-decoration: none;
}

.nav-left a:active,
.nav-right a:active {
  opacity: .7;
}


/*---------------------------------*/
/*-------- Project Wrapper --------*/
/*---------------------------------*/


.page-wrapper {
  animation-name: fade;
  animation-duration: 2s;
  margin: 0 18%;
  width: 64%;
}




/*---------------------------------*/
/*-------- Project Header ---------*/
/*---------------------------------*/


.header-container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*margin: 100px 0 0 0;*/ /* LEFT AND RIGHT */
  margin: 170px 0 0 0; /* TOP AND BOTTOM */
}

/* LEFT AND RIGHT */
/*.header {
  grid-column-start: 1;
  grid-column-end: 7;
  z-index: 1;
}*/

/* TOP AND BOTTOM */
.header {
  grid-column-start: 2;
  grid-column-end: 12;
  text-align: center;
  width: 84%;
  margin: 0 8%;
  z-index: 1;
}

.header h3 {
  font: 400 1.78em/1.2 "Lentil-vegetable", serif;
}

.gif-hover {
  font: 400 1em/1 "Lentil-vegetable", serif;
  border-bottom: 1px dotted #2b3348;
  margin: 0 0 -10px 0;
}

.gif-hover:hover {
  opacity: .7;
  border-bottom: 1px dotted #2b3348;
  cursor: default;
}

/* LEFT AND RIGHT */
/*.gif {
  grid-column-start: 8;
  grid-column-end: 13;
  width: 100%;
  margin: 40px 0 0 0;
  overflow: hidden;
}*/

/* TOP AND BOTTOM */
.gif {
  grid-column-start: 4;
  grid-column-end: 9;
  width: 100%;
  margin: -40px 0 0 0;
  overflow: hidden;
}

.gif img {
    width: 106%;
    margin-left: -3%;
  }

/*@supports (mix-blend-mode: screen) {
  .gif img {
    width: 114%;
    margin-left: -7%;
    mix-blend-mode: screen;
  }
}

@supports not (mix-blend-mode: screen) {
  .gif img {
    width: 114%;
    margin-left: -7%;
    display: none;
  }

  .header-container {
    margin: 230px 0 100px 0;
  }
}*/


/*---------------------------------*/
/*----------- Projects ------------*/
/*---------------------------------*/


.scroll-arrow {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-gap: 5px;
  opacity: .5;
  padding: 0 0 20px 0; /* TOP AND BOTTOM */
  text-align: center;
  /*padding: 40px 0 20px 0;*/ /* LEFT AND RIGHT */
}

.single-row {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-template-columns: 1fr;
  margin: 140px 0 0 0;
}

.single-row a {
  text-decoration: none;
}

.single-row a:hover {
  opacity: .9;
}

.single-row .title {
  width: 75%;
}

.thumbnail {
  overflow: hidden;
  width: 100%;
}

.thumbnail img {
  border-radius: 3px;
  object-fit: cover;
  width: 100%;
}

.title {
  margin: 20px 0 0 0;
  text-decoration: none;
}

.title h2 {
  font: 400 1.5em/1.3 "Lentil-vegetable", serif;
}

.italic {
  font: italic 400 1em/1 "Lentil-vegetable", serif;
}

.more-work {
  margin: 140px 0 0 0;
  text-align: center;
}

.more-work a {
  border-bottom: 1px solid #2b3348;
  padding: 0 0 3px 0;
  text-decoration: none;
}

.more-work a:hover {
  border-bottom: none;
  opacity: .7;
  text-decoration: none;
}

.first-project {
  margin: 0;
}



/*---------------------------------*/
/*------------ Tooltip ------------*/
/*---------------------------------*/


.tooltip {
  border-bottom: 1px dotted #2b3348;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: 400 1em "Lentil-vegetable", serif;
  position: relative;
}

.tooltip .popup {
  background-color: #2b3348;
  border-radius: 5px;
  bottom: calc(100% + 5px);
  color: #fff;
  font: 400 18px/1.3 "Chunky-tomato-bisque", sans-serif;
  left: 50%;
  margin: 0 0 -5px -150px;
  width: 300px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  transition: .2s;
  visibility: hidden;
  z-index: 2; 
}

.tooltip:hover .popup {
  margin: 0 0 0 -150px;
  opacity: 1;
  transition-delay: .2s;
  visibility: visible;
}

.tooltip .popup a {
  color: #FFFFFF;
  font: 400 1em/1.3 "Chunky-tomato-bisque", sans-serif;
  text-decoration: underline;
}

.tooltip .popup a:hover{
  opacity: .7;
}


/*---------------------------------*/
/*----------- Reach Out -----------*/
/*---------------------------------*/


.email-container {
  align-items: center;
  border-top: 1px solid rgba(43, 51, 72, .5);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 180px 0 0 0;
  padding: 140px 0 0 0;
}

.email-header {
  grid-column-start: 5;
  grid-column-end: 9;
  text-align: center;
}

.email-header h4 {
  font: 400 1.5em/1.1 "Lentil-vegetable", serif;
  margin: 0 0 30px 0;
}

.email-gif {
  background-color: #f1f3ec;
  grid-column-start: 5;
  grid-column-end: 9;
  margin: 10px 15% 40px 15%;
  width: 70%;
}

@supports (mix-blend-mode: screen) {
  .email-gif img {
    mix-blend-mode: screen;
    width: 100%;
  }
}

@supports not (mix-blend-mode: screen) {
  .email-gif img {
    display: none;
    width: 100%;
  }
}

.email-text {
  grid-column-start: 5;
  grid-column-end: 9;
  text-align: center;
}

.email-text p a {
  border-bottom: 1px solid #2b3348;
  font: 400 1em/1.4 "Chunky-tomato-bisque", serif;
  padding: 0 0 5px 0;
  text-decoration: none;
}

.email-text p a:hover {
  border-bottom: none;
  font: 400 1em/1.4 "Chunky-tomato-bisque", serif;
  opacity: .7;
}

.email-heart {
  grid-column-start: 1;
  grid-column-end: 13;
  margin: 100px 0 30px 0;
  text-align: center;
}

/*---------------------------------*/
/*---------- Thicc Bois -----------*/
/*---------------------------------*/


@media only screen and (min-width: 1600px) {

  body {
    max-width: 1280px;
    margin: auto;
  }

  .nav {
    width: 1280px;
  }

}


/*---------------------------------*/
/*------------ Tablets ------------*/
/*---------------------------------*/


@media only screen and (max-width: 1000px) {

  .nav-container {
    margin: 20px 5% 0 5%;
  }

  .page-wrapper {
    margin: 0 5%;
    width: 90%;
  }

  .header-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*margin: 100px 0 0 0;*/ /* LEFT AND RIGHT */
    margin: 170px 0 0 0; /* TOP AND BOTTOM */
  }

  .header {
    width: 90%;
    margin: 0 10%;
  }

  .gif {
    margin: 0 0 0 0;
  }

  .single-row .title {
    width: 100%;
  }

  .tooltip .popup {
    display: none;
  }

}


/*---------------------------------*/
/*------------ Phones -------------*/
/*---------------------------------*/


@media only screen and (max-width: 600px) {

  .nav-right {
    display: none;
  }

  .header {
    margin: 0;
    width: 100%;
  }

  .header h3 {
    font: 400 1.4em/1.3 "Lentil-vegetable", serif;
  }

  .gif {
    grid-column-start: 3;
    grid-column-end: 11;
    margin: 0 0 0 0;
  }

  .title h2 {
    font: 400 1.2em/1.4 "Lentil-vegetable", serif;
  }

  .email-header {
    grid-column-start: 2;
    grid-column-end: 12;
  }

  .email-gif {
    grid-column-start: 3;
    grid-column-end: 11;
  }

  .email-text {
    grid-column-start: 2;
    grid-column-end: 12;
  }

}

