* {
  box-sizing: border-box;

}

html {
	
}

body {
		/*background-color: #f7f5f0;*/
		background-color: #ffffff;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		/*overflow-x: hidden;*/
		height: 100%;

		
	}

.main_container {
	/*position: relative;*/
	/*overflow: hidden;*/
}

/*Rad little highlighting selecton color trick*/

::selection {
  background: red;
}
::-moz-selection {
  background: red;
}

.landing_page {
	position: absolute;
	margin-top: 30vh;
	margin-left: 10%;
}

.landing_page h3{
	position: absolute;
	color: #383838;
	/*text-align: center;*/
	/*margin-left: 10%;*/
	/*margin-top: 30vh;*/
	margin-top: 0;
	/*padding-top: 170px;*/
	padding-bottom: 10px;
	font-family: 'Merriweather', serif;
	font-weight: 800;
	font-size: 4.9em;
	opacity:1;
	width: 70%;
	line-height: 1.1em;
}

.landing_par {
	margin-top: 165px;
	position: relative;
}

.landing_par p {
	color: #383838;
	/*position: relative;*/
	/*margin-left: 10%;*/
	/*margin-top: 165px;*/
	/*padding-top: 50vh;*/
	width: 35%;
    line-height: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    opacity: 1;
	}

.contact_par {
	margin-top: 90px;
	position: relative;
}

.contact_par p {
	color: #383838;
	/*position: relative;*/
	/*margin-left: 10%;*/
	/*margin-top: 165px;*/
	/*padding-top: 50vh;*/
	width: 100%;
    line-height: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    opacity: 1;
}

.page_title h2{
	position: absolute;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 1.5em;
	top: 10%;
	left: 10%;
	margin: 0;
	opacity: 1;
}

.page_title h2 a {
	text-decoration: none;
	color: #383838;
}

.page_title h2 a:hover{
	color: green;
	/*transition: 0.4s;*/
}


/*#########################################################################################################*/
/*Navigation*/

.nav_list {
	text-align: right;
	position: absolute;
	padding-top: 10vh;
	right: 10%;
	left: 10%;
	width: 80%;
	list-style: none;
	opacity: 1;
	border-bottom: 2px solid rgba(56, 56, 56, .3);
	background-color: #ffffff;
}

.nav_list ul li {
  	padding-top: 20px;
	padding-bottom: 22px;
	opacity: 1;
	display: inline;
	text-align: right;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav_list li:not(:nth-child(4)) {
	padding-right: 6%;
}

.nav_list a {
	color: #383838;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.9em;
	opacity: 0.5;
}

/*.portfolio:hover ~ hr {
	margin-left: 67.65%;
	width: 73px;
}

.resume:hover ~ hr {
	margin-left: 80.30%;
	width: 54px;
}

.contact:hover ~ hr {
	margin-left: 91.22%;
	width: 60px;
}

hr {
	position: absolute;
	margin-left: 57.65%;
	margin-top: 10px;
	height: .25rem;
	width: 43px;
	background: #383838;
	border: none;
	transition: 0.3s ease-in-out;
}*/

.about .current_page {
	padding-bottom: 12px;
	border-bottom: 2px solid #383838;
	opacity: 1;
}

.portfolio .current_page {
	padding-bottom: 12px;
	border-bottom: 2px solid #383838;
	opacity: 1;
}

.resume .current_page {
	padding-bottom: 12px;
	border-bottom: 2px solid #383838;
	opacity: 1;
}

.contact .current_page {
	padding-bottom: 12px;
	border-bottom: 2px solid #383838;
	opacity: 1;
}

/*#########################################################################################################*/
/* Footer */

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 80%;
	/*height: 100px;*/
}

.social-media {
	position: absolute;
	margin-left: 10%;
	margin-bottom: 7%;
	
}

.fa {
	color: #383838;
	font-size: 1.5em;
	width: 35px;
	text-decoration: none;
	opacity: 1;
}

.fa:hover {
	/*opacity: 0.7;*/
	color: red;
	text-decoration: none;
}

a .fa {
	text-decoration: none;
}

/*#########################################################################################################*/
/* Vertical Lines */

.v1 {
	border-left: 1px solid black;
	margin-left: 10%;
    height: 100%;
    z-index: -1000;
    opacity: 0.07;
    position: fixed;
    z-index: 10000;
}

.v2 {
	border-left: 1px solid black;
	margin-left: 30%;
    height: 100%;
    z-index: -1000;
    opacity: 0.07;
    position: fixed;
    z-index: 10000;
}

.v3 {
	border-left: 1px solid black;
	margin-left: 50%;
    height: 100%;
    z-index: -1000;
    opacity: 0.07;
    position: fixed;
    z-index: 10000;
}

.v4 {
	border-left: 1px solid black;
	margin-left: 70%;
    height: 100%;
    z-index: -1000;
    opacity: 0.07;
    position: fixed;
    z-index: 10000;
}

.v5 {
	border-left: 1px solid black;
	margin-left: 90%;
    height: 100%;
    z-index: -1000;
    opacity: 0.07;
    position: fixed;
    z-index: 10000;
}

/*#########################################################################################################*/
/* Burger Icon */


.burger {
    display: none;
    vertical-align: left;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10%;
    right: 10%;
    cursor: pointer;
    margin-bottom: 0px;
    z-index: 2000;
    opacity: 1;
    /*transform: translate(-50%, -50%);*/
}

.burger.open div {
    background: none;
}

.burger.open div:before, .burger.open div:after {
    top: 0;
}

.burger.open div:before {
	width: 100%;
	left: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger.open div:after {
	width: 100%;
	left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger.open:hover div:before {
	/*background: lightgray;*/
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger.open:hover div:after {
	/*background: lightgray;*/
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger:hover:not(.open) div:before {
    background: gray;
}

.burger:hover:not(.open) div:after {
    background: gray;
}

.burger:hover:not(.open) div {
    background: gray;
}

.burger div:before {
    width: 70%;
    height: 3px;
    background: #383838;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; 
}

.burger div {
    width: 100%;
    height: 3px;
    background: #383838;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; 
}

.burger div:after {
    width: 80%;
    height: 3px;
    background: #383838;
    text-align: right
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; 
}

.burger div {
    position: relative;
    margin: 10px auto 0;
}

.burger div:before, div:after {
    content: "";
    position: absolute;
}

.burger div:before {
    top: -7px;
    left: 30%;
}

.burger div:after {
    top: 7px;
    left: 20%;
}

.mobile_nav {
	display: none;
}

/*#########################################################################################################*/
/* Portfolio Sections */

.port_sections {
	position: absolute;
	left: 50%;
    transform: translate(-50%, 0);
	top: 85%;
	/*width: 576;*/
	animation:opacp 1s;
	-moz-animation:opacp 1s; /* Firefox */
	-webkit-animation:opacp 1s; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
}

@keyframes opacp {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes opacp /* Firefox */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes opacp /* Safari and Chrome */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

.port_sections ul{
	text-align: center;
	padding: 0;
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(56, 56, 56, .3);
}

.port_sections li{
	display: inline-block;
	/*transform: translate(-50%, 0);*/
	text-align: center;
}

.port_sections li:not(:last-child){
	padding-right: 27px;
}

.port_sections ul li a{
	color: #383838;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.9em;
	opacity: 0.5;
}

.port_sections ul li a span {
	font-size: 0.8em;
}

.design .current_page {
	padding-bottom: 12px;
	border-bottom: 2px solid #383838;
	opacity: 1;
}

.development .current_page {
	padding-bottom: 12px;
	border-bottom: 2px solid #383838;
	opacity: 1;
}

.video .current_page {
	padding-bottom: 12px;
	border-bottom: 2px solid #383838;
	opacity: 1;
}

.music .current_page {
	padding-bottom: 12px;
	border-bottom: 2px solid #383838;
	opacity: 1;
}

.projects .current_page {
	padding-bottom: 12px;
	border-bottom: 2px solid #383838;
	opacity: 1;
}

/*#########################################################################################################*/
/* Portfolio Sections */

.des_vis {
	display: block;
}

.des_hide {
	display: none;
}

.dev_vis {
	display: block;
}

.dev_hide {
	display: none;
}

.vid_vis {
	display: block;
}

.vid_hide {
	display: none;
}

.mus_vis {
	display: block;
}

.mus_hide {
	display: none;
}

.proj_vis {
	display: block;
}

.proj_hide {
	display: none;
}

/*#########################################################################################################*/
/* Tablet */

@media only screen and (max-width:1024px) {
	body {
		background-color: red;
	}
	.landing_page h3{
		font-size: 3.7em;
		width: 70%;
	}

	.landing_par {
		margin-top: 125px;
	}

	.landing_par p{
		width: 80%;
	}

	.contact_par {
		margin-top: 75px;
	}

	.port_sections {
		width: 510px;
	}
}

/*#########################################################################################################*/
/* Mobile */

@media only screen and (max-width: 580px) {
	body {
		/*background-color: #f7f5f0;*/
		background-color: #ffffff;
	}
	
	.landing_page h3{
		font-size: 2.7em;
		width: 70%;
	}

	.landing_par {
		margin-top: 105px;
	}

	.landing_par p{
		width: 80%; 
	}

	.contact_par {
		margin-top: 65px;
	}

	.v2 {
		display: none;
	}

	.v3 {
		display: none;
	}

	.v4 {
		display: none;
	}
	.burger {
		display: block;
	}

	.nav_list {
		display: none;
	}

	




	.mobile_nav {
		overflow-x: hidden;
		display: none;
		position: absolute;
		list-style: none;
		padding-left: 0;
		/*left: 10%;*/
		/*top: 30vh;*/
		/*padding-left: 10%;*/
		/*margin: 0;*/
		/*border-left: 2px solid rgba(56, 56, 56, .3);;*/
		/*background-color: #f7f5f0;*/
		background-color: #ffffff;
		width: 80%;
		-webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease; 
	}

	.mobile_nav li a {
		color: #383838;
		opacity: 0.5;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.3em;
	}

	.mobile_nav li:not(:last-child) {
		padding-bottom: 8vh;
	}


	.nav_open {
		display: block;
		z-index: 1000;
		position: absolute;
		list-style: none;
		left: 10%;
		/*padding-left: -10px;*/
		height: 100vh;
		/*padding-left: 10%;*/
		/*margin: 0;*/
		/*border-left: 2px solid rgba(56, 56, 56, .3);;*/
		opacity: 1;
		animation:opacp 0.3s;
		-moz-animation:opacp 0.3s; /* Firefox */
		-webkit-animation:opacp 0.3s; /* Safari and Chrome */
		-webkit-animation-fill-mode: forwards;
		-webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease; 
	}

	.nav_open ul{
		margin-top: 30vh;
		/*padding-left: -10px;*/
		/*margin-left: -10px;*/
	}

	.nav_open li a {
		color: #383838;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.3em;
		opacity: 0.5;
		margin-left: -1px;
		padding-left: 10%;
		padding-top: 2vh;
		/*z-index: 5000;*/
	}

	.nav_open li a:first-child {
		margin-top: 30vh;
	}

	.nav_open li a:not(:last-child) {
		padding-bottom: 4vh;
	}



	.about .current_page {
		/*padding-left: -12px;*/
		border-left: 2px solid #383838;
		border-bottom: none;
		opacity: 1;
	}

	.portfolio .current_page {
		/*padding-left: 12px;*/
		border-left: 2px solid #383838;
		border-bottom: none;
		opacity: 1;
	}

	.resume .current_page {
		/*padding-left: 12px;*/
		border-left: 2px solid #383838;
		border-bottom: none;
		opacity: 1;
	}

	.contact .current_page {
		/*padding-left: 12px;*/
		border-left: 2px solid #383838;
		border-bottom: none;
		opacity: 1;
	}

}
