* {
  box-sizing: border-box;

}

body {
		background-color: white;
		margin: 0;
		padding: 0;
		height: 100%;
		-webkit-font-smoothing: antialiased;

	}

.wrapper {
  min-height: 98vh;
  /*margin-top: 2vh;*/
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 2vh;
}

.go_back a{
	z-index: 5000;
}

.go_back a {
	position: fixed;
	padding-top: 4vh;
	padding-bottom: 3.5vh;
	padding-left: 10%;
	width: calc(100% - 4vh);
	border-bottom: 1px solid rgba(56, 56, 56, 0.3);
	background-color: #ffffff;
	color: #383838;

}

.go_back a:hover {
	color: gray;
	text-decoration: none;
}

.go_back a p span {
	padding-right: 10px;
	font-size: 1.2em;
}

.go_back a p {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	font-size: 1em;
	text-decoration: none;
}

.go_back a {
	transition: 0.2s;
}

.go_back a:hover {
	padding-left: 9.5%;
	transition: 0.2s;

}

.project_content {
	width: 50%;
	margin-left: 25%;
	padding-top: 15vh;
	padding-left: 0;
	padding-bottom: 20vh;
	text-align: justify;
	font-family: 'Rubik', sans-serif;

}

.title {

}

.top_image {

}

.project_info {

}



@keyframes moveup {
  0% {padding-top: 50px;}
  100% {padding-top: 20px;}
}

@-moz-keyframes moveup /* Firefox */ {
  0% {padding-top: 50px;}
  100% {padding-top: 20px;}
}

@-webkit-keyframes moveup /* Safari and Chrome */ {
  0% {padding-top: 50px;}
  100% {padding-top: 20px;}
}

@keyframes opac {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes opac /* Firefox */ {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes opac /* Safari and Chrome */ {
  0% {opacity: 0;}
  100% {opacity: 1;}
}



.project_content img {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}


.project_content div {
	padding-top: 20px;
	padding-bottom: 30px;
}

.title h2 {
	font-size: 4em;
	font-weight: 500;
	text-align: left;
	padding-bottom: 0;
	opacity: 0;
	animation:opac 1s;
	-moz-animation:opac 1s; /* Firefox */
	-webkit-animation:opac 1s; /* Safari and Chrome */
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-fill-mode: forwards;
}

.top_image img {
	opacity: 0;
	/*padding-bottom: 20px;*/
	animation:opac 1s;
	-moz-animation:opac 1s; /* Firefox */
	-webkit-animation:opac 1s; /* Safari and Chrome */
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
	-webkit-animation-fill-mode: forwards;
}

.project_content h3 {
	font-size: 1.7em;
	font-weight: 500;
	letter-spacing: 0.03em;
	text-align: left;
	margin-top: 0;
	/*padding-bottom: 10px;*/
	opacity: 0;
	animation:opac 1s;
	-moz-animation:opac 1s; /* Firefox */
	-webkit-animation:opac 1s; /* Safari and Chrome */
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
}

.project_content h4 {
	font-size: 1.2em;
	color: gray;
	font-weight: 400;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-align: left;
	margin-top: 0;
	padding-top: 30px;
	padding-bottom: 5px;
	opacity: 0;
	animation:opac 1s;
	-moz-animation:opac 1s; /* Firefox */
	-webkit-animation:opac 1s; /* Safari and Chrome */
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
}

.project_content h5 {
	font-size: 1.1em;
	color: #383838;
	font-weight: 500;
	letter-spacing: 0.03em;
	text-align: left;
	margin-top: 0;
	/*padding-top: 15px;*/
	padding-bottom: 5px;
	opacity: 0;
	animation:opac 1s;
	-moz-animation:opac 1s; /* Firefox */
	-webkit-animation:opac 1s; /* Safari and Chrome */
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
}

.project_content p {
	font-family: 'Rubik', sans-serif;
	font-size: 1.1em;
	font-weight: 400;
	line-height: 2em;
	color: #606060;
	margin-bottom: 5px;
	padding-bottom: 10px;
	opacity: 0;
	animation:opac 1s;
	-moz-animation:opac 1s; /* Firefox */
	-webkit-animation:opac 1s; /* Safari and Chrome */
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
}

.project_content p span {
	font-weight: 500;
	color: #4c4c4d;
}

.project_content ul li {
	font-family: 'Rubik', sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 2em;
	color: #606060;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

.project_content ul li .in_text_link {
	text-decoration: none;
	color: #383838;
	font-weight: 500;
	transition: 0.3s;
}

.project_content ul li .in_text_link:hover {
	text-decoration: none;
	color: #0026c4;
	transition: 0.3s;
}

.project_content p .in_text_link {
	text-decoration: none;
	color: #383838;
	font-weight: 500;
	transition: 0.3s;
}

.project_content p .in_text_link:hover {
	text-decoration: none;
	color: #0026c4;
	transition: 0.3s;
}

.project_content .caption {
	text-align: center;
	color: gray;
	font-size: 1em;
	font-style: italic;
	padding-bottom: 30px;
}

.project_info {
	text-align: left;
}

iframe {
	width: 100%;
	height: 470px;
	padding-bottom: 20px;
	padding-top: 10px
}

video {
	width: 100%;
}

.music {
	height: 166px !important;
}

.portfolio-content {
	min-height: 50vh;
	padding-top: 15vh;
	padding-bottom: 20vh;
	/*margin-right: 30px;*/
}

.portfolio_categories {
	text-align: center;
	padding-bottom: 25vh;

}

.portfolio_categories ul {
	padding: 0px;
	/*border-bottom: 1px solid rgba(56, 56, 56, 0.5);*/
}

.portfolio_categories ul li {
	display: inline-block;
	padding-left:4%;
	font-family: "Rubik", sans-serif;
	/*text-transform: uppercase;*/
	font-size: 1.1em;
	font-weight: 400;
	text-align: center;
}

.portfolio_categories ul li:first-child {
	padding-left: 0;
}

.portfolio_categories ul li a {
	text-decoration: none;
	color: #383838;
	opacity: 0.3;
	transition: 0.3s;
}

.portfolio_categories ul li a:hover {
	text-decoration: none;
	opacity: 1;
	transition: 0.3s;
}

.portfolio_categories .current_category {
	opacity: 1;
	padding-bottom: 15px;
	font-weight: 400;
	/*border-bottom: 1px solid #383838;*/
}

.footer {
  min-height: 20vh;
  background-color: #383838;
  margin-bottom: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.footer div {
	display: inline-block;
	/*transform: translate(0, -8%);*/
	/*padding-top: 10vh;*/
}

.footer .social {
	margin-left: 10%;
	padding: 0;
	padding-top: 9vh;
	/*width: 50%;*/
}

.footer ul{
	padding: 0;
}

.footer ul li{
	display: inline-block;
}

.footer .fa {
	color: #ffffff;
	font-size: 1.5em;
	width: 35px;
	text-decoration: none;
	transition:0.3s;
}

.footer .fa:hover {
	color: gray;
	text-decoration: none;
	transition:0.3s;
}

.footer a .fa {
	text-decoration: none;
}

.footer .site-name {
	text-align: center;
	position: absolute;
	padding-top: 6.3vh;
	margin-left: auto;
	margin-right: auto;
	left: 40%;
	right: 40%;
}

.footer .site-name h2 {
	font-family: 'Merriweather', serif;
	color: #ffffff;
	font-weight: 900;
	padding: 0px;
	font-size: 1.5em;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.footer .site-name h2 a {
	color: #ffffff;
	text-decoration: none;
	transition:0.3s;
}

.footer .site-name h2 a:hover {
	color: gray;
	text-decoration: none;
	transition:0.3s;
}

.footer .address {
	margin-right: 10%;
	float: right;
	padding-bottom: 2vh;
	padding-top: 9vh;
}

.footer .address a {
	text-decoration: none;
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	transition:0.3s;
	z z-index: 50000;
}

.footer .address a:hover {
	color: gray;
	transition:0.3s;
}

/*Rad little highlighting selecton color trick*/

::selection {
  background: #0026c4;
  color: #ffffff;
}
::-moz-selection {
  background: #0026c4;
  color: #ffffff;
}

@media only screen and (max-width:1024px) {
	.project_content {
		width: 70%;
		margin-left: 15%;
		padding-bottom: 10vh;
	}

	.title h2 {
		font-size: 3em;
	}

	iframe {
		width: 100%;
		height: 400px;
	}

	.portfolio_categories {
		margin-left: 0%;
		padding-bottom: 10vh;
	}

	.portfolio_categories ul li {
		display: block;
		padding-left: 0;
		text-align: center;
		padding-bottom: 20px;
	}

	.footer .site-name {
		display: none;
	}
}

@media only screen and (max-width:580px) {
	.project_content {
		width: 90%;
		margin-left: 5%;
		text-align: left;
	}

	.go_back a {
		padding-left: 5%;
	}

	.title h2 {
		font-size: 2em;
	}

	iframe {
		width: 100%;
		height: 220px;
	}

	.footer {
	  margin-bottom: 1.5vh;
	  margin-left: 1.5vh;
	  margin-right: 1.5vh;
	  min-height: 30vh;
	}

	.footer .site-name {
		display: none;
	}

	.footer .social {
		position: absolute;
		text-align: center;
	    margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		margin-top: 0vh;
	}


	.footer .fa {
		font-size: 1.3em;
	}

	.footer .address a{
		position: absolute;
		margin-top: 10vh;
		text-align: center;
	    margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
}