* {
  box-sizing: border-box;

}

body {
		background-color: white;
		margin: 0;
		padding: 0;
		height: 100%;
		-webkit-font-smoothing: antialiased;	
	}

.wrapper {
  min-height: 96vh;
  margin: 2vh;
  background-color: #f4f3ed;
}

.header {
	min-height: 12vh;
	background-color: #f4f3ed;
	border-bottom: 1px solid rgba(56, 56, 56, 0.5);
	/*z-index: 500000000;*/
}

.header div {
	display: inline-block;
}

.header .site-title {
	float: left;
	padding-left: 9%;
	padding-top: 6vh;
	transform: translate(0, -13%);	
}

.header .site-title h2{
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 1.3em;
	margin: 0;
}

.header h2 a {
	text-decoration: none;
	color: #383838;
}

.header h2 a:hover{
	color: #0026c4;
}

.header .menu {
	float: right;
	padding-right: 9%;
	padding-top: 6vh;
	transform: translate(0, -13%);
	cursor: pointer;
	z-index: 500000010;
}

.header .menu a {
	font-family: 'Muli', sans-serif;
	font-size: 1.1em;
	color: #383838;
	text-decoration: none;
}

.header .menu a:hover {
	font-family: 'Muli', sans-serif;
	font-size: 1.1em;
	color: gray;
	text-decoration: none;
	transition: 0.3s;
}

.nav_page {
	display: none;
	padding-top: 0;
	margin-top: 0;
	background-color: white;
	width: 100%;
	min-height: 100%;
	position: fixed;
	z-index: 4000;
}

.nav_page_open {
	display: block;
	padding-top: 0;
	margin-top: 0;
	background-color: white;
	width: 100%;
	min-height: 100%;
	position: fixed;
	z-index: 4000000000;
}

.nav_page_open div {
	top: 0;
}
.nav_links {
	background: #0026c4;
	min-height: 96vh;
	margin: 2vh;
	padding-top: 25vh;
	width: calc(100% - 4vh);
	position: fixed;
	z-index: 40000000;
}

.nav_links ul li {
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	transform: translateX(-1%);
}

.nav_links ul a {
	color: #001760;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 5em;
	transition: 0.3s;
}

.nav_links ul a:hover {
	text-decoration: none;
	color: #0026c4;
	transition: 0.3s;
}

.nav_links .current_page {
	color: #ffffff;
}

.menu img {
	width: 40px;
}
.menu img:hover{
	opacity: 0.5;
}


.content {
}

.content .jumbotron p{
	color: #383838;
	margin-left: 9%;
	padding-top: 7vh;
	font-family: 'Muli', sans-serif;
	font-weight: 700;
	font-size: 4.45em;
	/*letter-spacing: 0.02em;*/
	line-height: 1.1em;
	width: 80%;
}

.jumbotron {
	background-color: #f4f3ed;
	margin-bottom: 0;
	padding-bottom: 0;
}

.content .arrows i {
	font-size: 1.8em;
	color: #0026c4;
	margin: 0;
	margin-right: 5px;
	padding: 10px 18px 10px 18px;
	border: 1px solid #0026c4;
	border-radius: 50px;
	text-align:center;
    vertical-align:middle;
	transition: 0.3s;
}

.content .arrows i:hover {
	color: #ffffff;
	background-color: #0026c4;
	transition: 0.3s;

}

.content .arrows {
	padding-left: 10%;
	padding-top: 5vh;
}

.portfolio-content {
	min-height: 50vh;
	padding-top: 15vh;
	padding-bottom: 15vh;
	/*margin-right: 30px;*/
}

/*.row1 div{
	display: inline-block;
	padding-right: 27px;
	padding-bottom: 30px;
}

.row1 img {
	width: 45%;
		transition: 0.25s;

}

.row1 img:hover{
	box-shadow: 0px 10px 17px #bcbcbc;
	-ms-transform: translate(0, -15px);
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
	transition: 0.25s;
}

.row1 a {
}

.gallery {
	margin-right: 11%;
	margin-left: 10.7%;
}*/

.gallery {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}

.gallery a {
  /*font-size: 16px; */
  display: inline-block;
  margin-bottom: 30px;
  width: 42.5%;
  margin-right: 30px;
}

.gallery a:nth-of-type(2n) {
  margin-right: 0;
}

.gallery a img {
	transition: 0.25s;
	width: 100%;
}

.gallery a img:hover{
	box-shadow: 0px 10px 17px #cecece;
	-ms-transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
	transition: 0.25s;
}

.gallery .switch img:last-child{display:none;}
.gallery .switch:hover img:first-child{display:none;}
.gallery .switch:hover img:last-child{display:inline-block;}

.see_work {
	position: absolute;
	margin-top: 77vh;
	padding-left: 50%;
	transform: translateX(-65px);
	z-index: 6000000;
}

.see_work a {
	text-decoration: none;
	color: #0026c4;
	font-family: 'Muli', sans-serif;
	/*font-weight: 700;*/
	font-size: 1.1em;
	padding-top: 7px;
	padding-bottom: 9px;
	padding-left: 17px;
	padding-right: 17px;
	border: 1px solid #0026c4;
	border-radius: 100px;
	transition: 0.3s;
}

.see_work a:hover{
	text-decoration: none;
	color: #ffffff;
	background-color: #0026c4;
	transition: 0.3s;
}

.scroll-arrow {
	position: absolute;
	padding-top: 70vh;
	padding-left: 49.40%;
	/*transform: translateX(0%);*/
	text-align: center;
	animation:scroller 2s;
	-moz-animation:scroller 2s; /* Firefox */
	-webkit-animation:scroller 2s; /* Safari and Chrome */
	/*-webkit-animation-delay: 1s;*/
	-webkit-animation-fill-mode: forwards;
	animation-iteration-count:infinite;
}

.scroll-arrow i {
	color: gray;
	font-size: 2em;
	/*opacity: 1;*/
	/*animation:opacp 1s;
	-moz-animation:opacp 1s; 
	-webkit-animation:opacp 1s; 
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;*/
}

/*.scroll-arrow-hide {
	opacity: 1;
	animation:hide 0.3s;
	-moz-animation:hide 0.3s;
	-webkit-animation:hide 0.3s;
	-webkit-animation-fill-mode: forwards;
}*/

.footer {
  min-height: 20vh;
  background-color: #383838;
  margin-bottom: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.footer div {
	display: inline-block;
	/*transform: translate(0, -8%);*/
	/*padding-top: 10vh;*/
}

.footer .social {
	margin-left: 9.8%;
	padding: 0;
	padding-top: 9vh;
	/*width: 50%;*/
}

.footer ul{
	padding: 0;
}

.footer ul li{
	display: inline-block;
}

.footer .fa {
	color: #ffffff;
	font-size: 1.5em;
	width: 35px;
	text-decoration: none;
	transition:0.3s;
}

.footer .fa:hover {
	color: gray;
	text-decoration: none;
	transition:0.3s;
}

.footer a .fa {
	text-decoration: none;
}

.footer .site-name {
	text-align: center;
	margin-left: 23.5%;
}

.footer .site-name h2 {
	font-family: 'Merriweather', serif;
	color: #ffffff;
	font-weight: 900;
	font-size: 1.5em;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.footer .site-name h2 a {
	color: #ffffff;
	text-decoration: none;
	transition:0.3s;
}

.footer .site-name h2 a:hover {
	color: gray;
	text-decoration: none;
	transition:0.3s;
}

.footer .address {
	margin-right: 9.8%;
	float: right;
	padding-bottom: 2vh;
	padding-top: 9vh;
}

.footer .address a {
	text-decoration: none;
	color: white;
	font-family: 'Muli', sans-serif;
	font-size: 1.1em;
	font-weight: 400;
	transition:0.3s;
}

.footer .address a:hover {
	color: gray;
	transition:0.3s;
}

/*Rad little highlighting selecton color trick*/

::selection {
  background: #0026c4;
  color: #ffffff;
}
::-moz-selection {
  background: #0026c4;
  color: #ffffff;
}















.about-text h3 {
	/*padding-bottom: 30px;*/
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 1.2em;
	border-bottom: 1px solid rgba(56, 56, 56, 0.5);
	color: #383838;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.section-title {
	color:red;
	padding-bottom: 19px;
	border-bottom: 1px solid rgba(56, 56, 56, 1);
}

.section-number {
	font-size: 0.8em;
}

.about-text p{
	color: #383838;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	letter-spacing: 0.05em;
	line-height: 2.5em;
	text-align: left;
	padding-bottom: 10px;
	width: 70%;
}



.about-text-show {
	opacity: 0;
	animation:opacp 0.3s;
	-moz-animation:opacp 0.3s; /* Firefox */
	-webkit-animation:opacp 0.3s; /* Safari and Chrome */
	/*-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;*/
	-webkit-animation-fill-mode: forwards;
}

.page_title h2{
	position: fixed;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 1.5em;
	top: 9.6%;
	left: 10%;
	margin: 0;
	opacity: 0;
	z-index: 10001;
	animation:opacp 1s;
	-moz-animation:opacp 1s; /* Firefox */
	-webkit-animation:opacp 1s; /* Safari and Chrome */
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
}

.page_title h2 a {
	text-decoration: none;
	color: #383838;
}

.page_title h2 a:hover{
	color: #ff8500;
	/*transition: 0.4s;*/
}

/*#########################################################################################################*/
/*Animations*/

@keyframes opac {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes opac /* Firefox */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes opac /* Safari and Chrome */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes opacp {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes opacp /* Firefox */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes opacp /* Safari and Chrome */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes mymove {
  0% {padding-top: 40%;}
  100% {padding-top: 20%;}
}

@-moz-keyframes mymove /* Firefox */ {
  0% {padding-top: 40%;}
  100% {padding-top: 20%;}
}

@-webkit-keyframes mymove /* Safari and Chrome */ {
  0% {padding-top: 40%;}
  100% {padding-top: 20%;}
}

@keyframes scroller {
  0% {padding-top: 84vh;}
  50% {padding-top: 85vh;}
  100% {padding-top: 84vh;}
}

@-moz-keyframes scroller /* Firefox */ {
  0% {padding-top: 84vh;}
  50% {padding-top: 85vh;}
  100% {padding-top: 84vh;}
}

@-webkit-keyframes scroller /* Safari and Chrome */ {
  0% {padding-top: 84vh;}
  50% {padding-top: 85vh;}
  100% {padding-top: 84vh;}
}

@keyframes hide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-moz-keyframes hide /* Firefox */ {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes hide /* Safari and Chrome */ {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/*#########################################################################################################*/
/*Navigation*/

/*.nav_list {
	text-align: right;
	position: fixed;
	padding-top: 10vh;
	right: 10%;
	left: 10%;
	width: 80%;
	list-style: none;
	opacity: 0;
	background-color: #f4f3ed;
	z-index: 10000;
	animation:opacp 1s;
	-moz-animation:opacp 1s;
	-webkit-animation:opacp 1s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
}

.nav_list ul {
	padding-bottom: 20px;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(56, 56, 56, .3);

}

.nav_list ul li {
  	padding-top: 20px;
	opacity: 1;
	display: inline;
	text-align: right;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav_list li:not(:nth-child(4)) {
	padding-right: 4%;
}

.nav_list a {
	color: #383838;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size: 0.9em;
	opacity: 0.5;
}

.nav_list a:hover {
	opacity: 1;
}*/

/*.portfolio:hover ~ hr {
	margin-left: 67.65%;
	width: 73px;
}

.resume:hover ~ hr {
	margin-left: 80.30%;
	width: 54px;
}

.contact:hover ~ hr {
	margin-left: 91.22%;
	width: 60px;
}

hr {
	position: absolute;
	margin-left: 57.65%;
	margin-top: 10px;
	height: .25rem;
	width: 43px;
	background: #383838;
	border: none;
	transition: 0.3s ease-in-out;
}*/

/*.about .current_page {
	padding-bottom: 22px;
	border-bottom: 1px solid #383838;
	opacity: 1;
}

.portfolio .current_page {
	padding-bottom: 22px;
	border-bottom: 1px solid #383838;

	opacity: 1;
}

.resume .current_page {
	padding-bottom: 22px;
	border-bottom: 1px solid #383838;
	opacity: 1;
}

.contact .current_page {
	padding-bottom: 22px;
	border-bottom: 1px solid #383838;
	opacity: 1;
}

.about:hover {
	opacity: 1;
}

.portfolio:hover {
	opacity: 1;
}

.resume:hover {
	opacity: 1;
}

.contact:hover {
	opacity: 1;
}*/

/*#########################################################################################################*/
/* Footer */

/*.footer .fa {
	color: #383838;
	font-size: 1.5em;
	width: 35px;
	text-decoration: none;
	opacity: 0;
	animation:opacp 1s;
	-moz-animation:opacp 1s;
	-webkit-animation:opacp 1s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
}

.footer .fa:hover {
	color: #0049ff;
	text-decoration: none;
}

.footer a .fa {
	text-decoration: none;
}*/

/*#########################################################################################################*/
/* Vertical Lines */

.v1 {
	border-left: 1px solid #383838;
	margin-left: 10%;
	margin-top: 12vh;
    height: 84vh;
    position: absolute;
    z-index: 30000;
    opacity: 0.1;
    /*animation:opacv 1s;
	-moz-animation:opacv 1s;
	-webkit-animation:opacv 1s; 
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: forwards;*/
}

.v2 {
	border-left: 1px solid #383838;
	margin-left: 30%;
	margin-top: 12vh;
    height: 84vh;
    position: absolute;
    z-index: 30000;
    opacity: 0.1;
    /*animation:opacv 1s;
	-moz-animation:opacv 1s;
	-webkit-animation:opacv 1s; 
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: forwards;*/
}

.v3 {
	border-left: 1px solid #383838;
	margin-left: 50%;
	margin-top: 12vh;
    height: 84vh;
    position: absolute;
    z-index: 30000;
    opacity: 0.1;
    /*animation:opacv 1s;
	-moz-animation:opacv 1s;
	-webkit-animation:opacv 1s; 
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: forwards;*/
}

.v4 {
	border-left: 1px solid #383838;
	margin-left: 70%;
	margin-top: 12vh;
    height: 84vh;
    position: absolute;
    z-index: 30000;
    opacity: 0.1;
    /*animation:opacv 1s;
	-moz-animation:opacv 1s;
	-webkit-animation:opacv 1s; 
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: forwards;*/
}

.v5 {
	border-left: 1px solid #383838;
	margin-left: 90%;
	margin-top: 12vh;
    height: 84vh;
    position: absolute;
    z-index: 30000;
    opacity: 0.1;
    /*animation:opacv 1s;
	-moz-animation:opacv 1s;
	-webkit-animation:opacv 1s; 
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: forwards;*/
}

@keyframes opacv {
  0% {opacity:0;}
  100% {opacity:0.1;}
}

@-moz-keyframes opacv /* Firefox */ {
  0% {opacity:0;}
  100% {opacity:0.1;}
}

@-webkit-keyframes opacv /* Safari and Chrome */ {
  0% {opacity:0;}
  100% {opacity:0.1;}
}

/*#########################################################################################################*/
/* Burger Icon */

.mobile-nav-container {
	/*padding:22px;
	border: 1px solid gray;
	border-radius: 100px;
	position: fixed;
	right: 9.3%;
	top:8.6%;*/
}


.burger-container{
    display: block;
    vertical-align: left;
    position: fixed;
    width: 20px;
    height: 20px;
    top: 10%;
    right: 10%;
    cursor: pointer;
    margin-bottom: 0px;
    z-index: 100000000000;
    opacity: 0;
    /*transform: translate(-50%, -50%);*/
    animation:opacp 1s;
	-moz-animation:opacp 1s; /* Firefox */
	-webkit-animation:opacp 1s; /* Safari and Chrome */
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
	-webkit-animation-fill-mode: forwards;
}

.burger.open div {
    background: none;
}

.burger.open div:before, .burger.open div:after {
    top: 0;
}

.burger.open div:before {
	width: 100%;
	left: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger.open div:after {
	width: 100%;
	left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger.open:hover div:before {
	/*background: lightgray;*/
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger.open:hover div:after {
	/*background: lightgray;*/
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger:hover:not(.open) div:before {
    background: gray;
}

.burger:hover:not(.open) div:after {
    background: gray;
}

.burger:hover:not(.open) div {
    background: gray;
}

.burger div:before {
    width: 70%;
    height: 2px;
    background: #383838;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; 
}

.burger div {
    width: 100%;
    height: 2px;
    background: #383838;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; 
}

.burger div:after {
    width: 80%;
    height: 2px;
    background: #383838;
    text-align: right
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; 
}

.burger div {
    position: relative;
    margin: 10px auto 0;
}

.burger div:before, div:after {
    content: "";
    position: absolute;
}

.burger div:before {
    top: -7px;
    left: 30%;
}

.burger div:after {
    top: 7px;
    left: 20%;
}

.mobile_nav {
	display: none;
}

/*.hide-white {
	color: white;
	background-color: white;
}*/

/*#########################################################################################################*/
/* Portfolio Sections */

/*#########################################################################################################*/
/* Portfolio Content */

/*#########################################################################################################*/
/* Tablet */

@media only screen and (max-width:1024px) {
	body {
		background-color: #ffffff;
	}

	.content .jumbotron p{
		font-size: 3em;
		letter-spacing: 0em;
		width: 80%;
	}

	.gallery {
	  font-size: 0;
	  display: flex;
	  flex-wrap: wrap;
	  margin-left: 11%;
	}

	.gallery a {
	  /*font-size: 16px; */
	  display: inline-block;
	  margin-bottom: 20px;
	  width: 43%;
	  margin-right: 20px;
	}

	.gallery a:nth-of-type(2n) {
	  margin-right: 0;
	}

	img {
		transition: 0.25s;
		width: 194%;
		/*margin-right: 1.5vh*/
	}




	.landing_page h3{
		font-size: 3.7em;
		width: 70%;
	}

	.landing_par {
		margin-top: 125px;
	}

	.landing_par p{
		width: 80%;
	}

	.contact_par {
		margin-top: 75px;
	}

	.port_sections {
		width: 510px;
	}

	.column {
		width: 49%;
	}

	.column .image:not(:last-child) {
		padding-right: 0;
	}
}

/*#########################################################################################################*/
/* Mobile */

@media only screen and (max-width: 580px) {
	body {
		/*background-color: #f7f5f0;*/
		background-color: #ffffff;
	}

	.wrapper {
		margin: 1.5vh;
		min-height: 96vh;
	}

	.header .site-title {
		font-size: 0.8em;
	}
	
	.content .jumbotron p{
		padding-top: 3vh;
		font-size: 2.3em;
		letter-spacing: 0em;
		width: 80%;
		/*text-align: center;*/
	}


	.gallery {
	  font-size: 0;
	  display: flex;
	  flex-wrap: wrap;
	  margin-left: 2.5vh;
	}

	.gallery a {
	  /*font-size: 16px; */
	  display: inline-block;
	  margin-bottom: 3vh;
	  width: 50%;
	  margin-right: 30px;
	}

	.gallery a:nth-of-type(2n) {
	  margin-right: 0;
	}

	.gallery a img {
		transition: 0.25s;
		width: 190%;
		/*margin-right: 1.5vh*/
	}

	.see_work {
		position: absolute;
		margin-top: 80vh;
		transform: translateX(-60px);
	}

	.scroll-arrow {
		padding-top: 87vh;
		animation: none;
		-moz-animation: none; /* Firefox */
		-webkit-animation: none; /* Safari and Chrome */
	}

	.scroll-arrow i {
		color: gray;
		font-size: 2em;
		/*opacity: 1;*/
		/*animation:opacp 1s;
		-moz-animation:opacp 1s; 
		-webkit-animation:opacp 1s; 
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
		-webkit-animation-fill-mode: forwards;*/
	}

	.footer {
	  margin-bottom: 2.5vh;
	  margin-left: 2.5vh;
	  margin-right: 2.5vh;
	}

	.footer .site-name {
		display: none;
	}

	.footer .social {
		position: absolute;
      left: 17.5%;
      /*transform: translateX(-50%);*/
	}


	.footer .fa {
		font-size: 1.3em;
	}

	.footer .address a{
		display: none;
	}

	.v1 {
		height: 84vh;
		margin-left: 9.8%;
	}


	.v2 {
		display: none;
	}

	.v3 {
		display: none;
	}

	.v4 {
		display: none;
	}

	.v5 {
		height: 84vh;
		margin-left: 90%;
	}
	

}
