* {
  box-sizing: border-box;
}

body {
		background-color: #f7f5f0;
		overflow: hidden;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}
.site_wrapper {
	overflow-x: hidden;
}

::selection {
  background: red; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: red; /* Gecko Browsers */
}

#landing_page {
	position: absolute;
	margin-top: 30vh;
	animation:opacp 1s;
	-moz-animation:opacp 1s; /* Firefox */
	-webkit-animation:opacp 1s; /* Safari and Chrome */
}

#landing_page h3{
	position: absolute;
	color: #383838;
	/*text-align: center;*/
	margin-left: 10%;
	/*margin-top: 30vh;*/
	margin-top: 0;
	/*padding-top: 170px;*/
	padding-bottom: 10px;
	font-family: 'Merriweather', serif;
	font-weight: 800;
	font-size: 4.9em;
	opacity:1;
	width: 70%;
	line-height: 1.1em;
	animation:mymove 0.7s;
	-moz-animation:mymove 0.7s; /* Firefox */
	-webkit-animation:mymove 0.7s; /* Safari and Chrome */
}

#landing_page p {
	color: #383838;
	/*position: relative;*/
	width: 35%;
	margin-left: 10%;
	margin-top: 165px;
	/*padding-top: 50vh;*/
    line-height: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    opacity: 0;
    animation:opacp 1s;
	-moz-animation:opacp 1s; /* Firefox */
	-webkit-animation:opacp 1s; /* Safari and Chrome */
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
	-webkit-animation-fill-mode: forwards;
	}

@keyframes opac {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes opac /* Firefox */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes opac /* Safari and Chrome */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes opacp {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes opacp /* Firefox */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes opacp /* Safari and Chrome */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes mymove {
  0% {top: 170px;}
  100% {top: 0px;}
}

@-moz-keyframes mymove /* Firefox */ {
  0% {top: 170px;}
  100% {top: 0px;}
}

@-webkit-keyframes mymove /* Safari and Chrome */ {
  0% {top: 170px;}
  100% {top: 0px;}
}

.page_title h2{
	position: absolute;
	font-family: 'Merriweather', serif;
	color: #383838;
	font-weight: 900;
	font-size: 1.5em;
	top: 10%;
	left: 10%;
	margin: 0;
	opacity: 0;
	animation:opacp 1s;
	-moz-animation:opacp 1s; /* Firefox */
	-webkit-animation:opacp 1s; /* Safari and Chrome */
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
	-webkit-animation-fill-mode: forwards;
}

.page_title h2:hover{
	color: green;
	/*transition: 0.4s;*/
}

.nav_list {
	text-align: right;
	position: absolute;
	display: inline;
	top: 10%;
	right: 10%;
	left: 10%;
	width: 80%;
	list-style: none;
	padding-bottom: 20px;
	opacity: 0;
	border-bottom: 2px solid rgba(56, 56, 56, .3);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    animation:opacp 1s;
	-moz-animation:opacp 1s; /* Firefox */
	-webkit-animation:opacp 1s; /* Safari and Chrome */
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
	-webkit-animation-fill-mode: forwards;
}

.nav_list li {
	padding-top: 20px;
	padding-bottom: 22px;
	opacity: 1;
	display: inline;
	/*border-bottom: 2px solid #383838;*/
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
   }

.nav_list li:not(:last-child) {
	padding-right: 6%;
}

.nav_list li a {
	color: #383838;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.9em;
	/*transition: 0.2s;   vendorless fallback */

}







/*.container {
  width: 50%;
  margin: 0 auto;
  top: 10%;
  right: 10%;
}

.container ul li {
  display: inline;
  text-align: right;
}

.container li:not(:last-child) {
	padding-right: 6%;
}

.container a {
	color: #383838;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.9em;
}

.two:hover ~ hr {
  margin-left: 13%;
  width: 73px;
}

.three:hover ~ hr {
  margin-left: 30.5%;
  width: 54px;
}

.four:hover ~ hr {
  margin-left: 45%;
  width: 60px;
}

hr {
  height: .25rem;
  width: 43px;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}*/





/*#########################################################################################################*/

/*Constants*/

.hor1 {
	width: 80%;
	border-bottom: 2px solid #383838;
	margin-left: 10%;
	margin-right: 10%;
    /*height: 100%;*/
    /*-index: -1000;*/
    margin-top: 15%;
    position: relative;
    opacity: 0.3;
}

.hor2 {
	width: 16%;
	border-bottom: 2px solid #383838;
	margin-left: 10%;
    /*height: 100%;*/
    /*-index: -1000;*/
    margin-top: -2px;
    position: relative;
    opacity: 1;
    animation:mymoveh 1s;
	-moz-animation:mymoveh 1s; /* Firefox */
	-webkit-animation:mymoveh 1s; /* Safari and Chrome */
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
}

@keyframes mymoveh {
  0% {margin-left: 10%;}
  100% {margin-left: 30%;}
}

@-moz-keyframes mymoveh /* Firefox */ {
  0% {margin-left: 10%;}
  100% {margin-left: 30%;}
}

@-webkit-keyframes mymoveh /* Safari and Chrome */ {
  0% {margin-left: 10%;}
  100% {margin-left: 30%;}
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: 1rem;*/
  /*background-color: #efefef;*/
  /*text-align: center;*/
}

.social-media {
	position: absolute;
	margin-left: 10%;
	margin-bottom: 7%;
	
}

.fa {
	/*padding: 20px;*/
	color: #383838;
	font-size: 1.5em;
	width: 35px;
	/*width: 10px;*/
	/*text-align: center;*/
	text-decoration: none;
	/*margin-left: 10%;*/
	opacity: 0;
	animation:opacp 1s;
	-moz-animation:opacp 1s; /* Firefox */
	-webkit-animation:opacp 1s; /* Safari and Chrome */
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
	-webkit-animation-fill-mode: forwards;
}

.fa:hover {
	/*opacity: 0.7;*/
	color: red;
	text-decoration: none;
}

a .fa {
	text-decoration: none;
}

.v1 {
	border-left: 1px solid black;
	margin-left: 10%;
    height: 100%;
    z-index: -1000;
    opacity: 0.07;
    position: fixed;
}

.v2 {
	border-left: 1px solid black;
	margin-left: 30%;
    height: 100%;
    z-index: -1000;
    opacity: 0.07;
    position: fixed;
}

.v3 {
	border-left: 1px solid black;
	margin-left: 50%;
    height: 100%;
    z-index: -1000;
    opacity: 0.07;
    position: fixed;
}

.v4 {
	border-left: 1px solid black;
	margin-left: 70%;
    height: 100%;
    z-index: -1000;
    opacity: 0.07;
    position: fixed;
}

.v5 {
	border-left: 1px solid black;
	margin-left: 90%;
    height: 100%;
    z-index: -1000;
    opacity: 0.07;
    position: fixed;
}

.burger {
    display: none;
    vertical-align: left;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10%;
    right: 10%;
    cursor: pointer;
    margin-bottom: 0px;
    /*transform: translate(-50%, -50%);*/
}

.burger.open div {
    background: none;
}

.burger.open div:before, .burger.open div:after {
    top: 0;
}

.burger.open div:before {
	width: 100%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger.open div:after {
	width: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger.open:hover div:before {
	/*background: lightgray;*/
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger.open:hover div:after {
	/*background: lightgray;*/
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger:hover:not(.open) div:before {
    width: 70%;
}

.burger:hover:not(.open) div:after {
    width: 80%;
}

.burger div:before {
    width: 80%;
    height: 3px;
    background: #383838;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; 
}

.burger div {
    width: 100%;
    height: 3px;
    background: #383838;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; 
}

.burger div:after {
    width: 70%;
    height: 3px;
    background: #383838;
    text-align: right
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; 
}

.burger div {
    position: relative;
    margin: 10px auto 0;
}

.burger div:before, div:after {
    content: "";
    position: absolute;
}

.burger div:before {
    top: -7px;
}

.burger div:after {
    top: 7px;
}

.mobile_nav {
	display: none;
}

/*#########################################################################################################*/
/* Responsiveness */

@media only screen and (max-width:1024px) {
	body {
		background-color: red;
	}
	#landing_page h3{
		font-size: 3.7em;
		width: 70%;
		
	}
	#landing_page p{
		width: 80%;
		margin-top: 125px;
	}
}

@media only screen and (max-width: 580px) {
	body {
		background-color: lightblue;
	}
	
	#landing_page h3{
		font-size: 2.7em;
		width: 70%;
	}

	#landing_page p{
		width: 80%;
		margin-top: 105px;
	}

	.v2 {
		display: none;
	}

	.v3 {
		display: none;
	}

	.v4 {
		display: none;
	}
	.burger {
		display: block;
	}

	.nav_list {
		display: none;
	}

	




	.mobile_nav {
		overflow: hidden;
		display: block;
		position: absolute;
		list-style: none;
		left: 110%;
		top: 30vh;
		padding-left: 10%;
		/*margin: 0;*/
		border-left: 2px solid rgba(56, 56, 56, .3);;
		background-color: white;
		width: 100%;
		-webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease; 

	}

	.mobile_nav li a {
		color: #383838;
		font-family: "Roboto", sans-serif;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.3em;
	}

	.mobile_nav li:not(:last-child) {
		padding-bottom: 8vh;
	}






	.nav_open {
		display: block;
		position: absolute;
		list-style: none;
		left: 10%;
		top: 30vh;
		padding-left: 10%;
		/*margin: 0;*/
		border-left: 2px solid rgba(56, 56, 56, .3);;
		-webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease; 
	}

	.nav_open li a {
		color: #383838;
		font-family: "Roboto", sans-serif;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.3em;
	}

	.nav_open li:not(:last-child) {
		padding-bottom: 8vh;
	}

}
