* {
  box-sizing: border-box;

}

body {
		background-color: white;
		margin: 0;
		padding: 0;
		height: 100%;	
	}

.wrapper {
  min-height: 96vh;
  margin: 2vh;
  background-color: #f4f3ed;
}

.header {
	min-height: 12vh;
	background-color: #f4f3ed;
	border-bottom: 1px solid rgba(56, 56, 56, 0.5);
	z-index: 500000000;
}

.header h2{
	position: relative;
	padding-top: 6vh;
	padding-left: 10%;
	transform: translate(0, -13%);
	margin: 0;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 1.5em;
}

.header h2 a {
	text-decoration: none;
	color: #383838;
}

.header h2 a:hover{
	color: #ff8500;
}


.content {

}

.portfolio-content {
	/*min-height: 50vh;*/
}

.footer {
  min-height: 20vh;
  background-color: #383838;
  margin-bottom: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.footer div {
	display: inline-block;
	/*transform: translate(0, -8%);*/
	/*padding-top: 10vh;*/
}

.footer .social {
	margin-left: 10%;
	padding: 0;
	padding-top: 9vh;
	/*width: 50%;*/
}

.footer ul{
	padding: 0;
}

.footer ul li{
	display: inline-block;
}

.footer .fa {
	color: #ffffff;
	font-size: 1.5em;
	width: 35px;
	text-decoration: none;
}

.footer .fa-facebook:hover {
	color: #3b5998;
	text-decoration: none;
}

.footer .fa-twitter:hover {
	color: #1da1f2;
	text-decoration: none;
}

.footer .fa-instagram:hover {
	color: #fbad50;
	text-decoration: none;
}

.footer .fa-linkedin:hover {
	color: #0077b5;
	text-decoration: none;
}

.footer .fa-behance:hover {
	color: #1769ff;
	text-decoration: none;
}

.footer a .fa {
	text-decoration: none;
}

.footer .site-name {
	text-align: center;
	margin-left: 24.5%;
}

.footer .site-name h2 {
	font-family: 'Merriweather', serif;
	color: #ffffff;
	font-weight: 900;
	font-size: 1.5em;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.footer .site-name h2 a {
	color: #ffffff;
	text-decoration: none;
}

.footer .site-name h2 a:hover {
	color: gray;
	text-decoration: none;
}

.footer .address {
	margin-right: 10%;
	float: right;
	padding-bottom: 2vh;
	padding-top: 9vh;
}

.footer .address a {
	text-decoration: none;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	letter-spacing: 0.05em;
}

.footer .address a:hover {
	color: gray;
}

.jumbo-header1 {
	padding-top: 40%;
	 animation:mymove 0.7s;
	-moz-animation:mymove 0.7s; /* Firefox */
	-webkit-animation:mymove 0.7s; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
}

.jumbo-header2 {
	display: none;
	padding-top: 60%;
	 animation:mymove 0.7s;
	-moz-animation:mymove 0.7s; /* Firefox */
	-webkit-animation:mymove 0.7s; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
}

.hide {
	opacity: 1;
	animation:hide 0.3s;
	-moz-animation:hide 0.3s; /* Firefox */
	-webkit-animation:hide 0.3s; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
}

.show {
	display: block;
	opacity:0;
	animation:opacp 0.3s;
	-moz-animation:opacp 0.3s; /* Firefox */
	-webkit-animation:opacp 0.3s; /* Safari and Chrome */
	/*-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;*/
	-webkit-animation-fill-mode: forwards;
}

/*.content h2 {
	color: #383838;
	padding-bottom: 40px;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 4.5em;
	letter-spacing: 0.02em;
	width: 100%;
	opacity:0;
	line-height: 1.2em;
	animation:opacp 1s;
	-moz-animation:opacp 1s;
	-webkit-animation:opacp 1s;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: forwards;
}*/

.name {
	color: #383838;

}

/*.name:before {
    content:"Evan Pesch";
    
}

.name:hover:before {
    content:"a designer";
}*/

.about-text {
	opacity: 1;
	/*transform: translate(-25%);*/
	padding-top: 35vh;
	/*padding-left: 50%;*/
	padding-bottom: 15vh;
	animation:hide 0.3s;
	-moz-animation:hide 0.3s; /* Firefox */
	-webkit-animation:hide 0.3s; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
}

.about-text h3 {
	/*padding-bottom: 30px;*/
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 1.2em;
	border-bottom: 1px solid rgba(56, 56, 56, 0.5);
	color: #383838;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.section-title {"
	color:red;
	padding-bottom: 19px;
	border-bottom: 1px solid rgba(56, 56, 56, 1);
}

.section-number {
	font-size: 0.8em;
}

.about-text p{
	color: #383838;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	letter-spacing: 0.05em;
	line-height: 2.5em;
	text-align: left;
	padding-bottom: 10px;
	width: 70%;
}



.about-text-show {
	opacity: 0;
	animation:opacp 0.3s;
	-moz-animation:opacp 0.3s; /* Firefox */
	-webkit-animation:opacp 0.3s; /* Safari and Chrome */
	/*-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;*/
	-webkit-animation-fill-mode: forwards;
}

.scroll-arrow {
	position: absolute;
	padding-top: 90vh;
	padding-left: 49.4%;
	text-align: center;
	animation:scroller 2s;
	-moz-animation:scroller 2s; /* Firefox */
	-webkit-animation:scroller 2s; /* Safari and Chrome */
	/*-webkit-animation-delay: 1s;*/
	-webkit-animation-fill-mode: forwards;
	animation-iteration-count:infinite;
}

.scroll-arrow i {
	color: #23c99e;
	font-size: 2em;
	opacity: 0;
	animation:opacp 1s;
	-moz-animation:opacp 1s; /* Firefox */
	-webkit-animation:opacp 1s; /* Safari and Chrome */
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
}

.scroll-arrow-hide {
	opacity: 1;
	animation:hide 0.3s;
	-moz-animation:hide 0.3s; /* Firefox */
	-webkit-animation:hide 0.3s; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
}

/*Rad little highlighting selecton color trick*/

::selection {
  background: #0026c4;
  color: #ffff00;
}
::-moz-selection {
  background: #0026c4;
  color: #ffff00;
}


.page_title h2{
	position: fixed;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 1.5em;
	top: 9.6%;
	left: 10%;
	margin: 0;
	opacity: 0;
	z-index: 10001;
	animation:opacp 1s;
	-moz-animation:opacp 1s; /* Firefox */
	-webkit-animation:opacp 1s; /* Safari and Chrome */
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
}

.page_title h2 a {
	text-decoration: none;
	color: #383838;
}

.page_title h2 a:hover{
	color: #ff8500;
	/*transition: 0.4s;*/
}

/*#########################################################################################################*/
/*Animations*/

@keyframes opac {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes opac /* Firefox */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes opac /* Safari and Chrome */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes opacp {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes opacp /* Firefox */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes opacp /* Safari and Chrome */ {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes mymove {
  0% {padding-top: 40%;}
  100% {padding-top: 20%;}
}

@-moz-keyframes mymove /* Firefox */ {
  0% {padding-top: 40%;}
  100% {padding-top: 20%;}
}

@-webkit-keyframes mymove /* Safari and Chrome */ {
  0% {padding-top: 40%;}
  100% {padding-top: 20%;}
}

@keyframes scroller {
  0% {padding-top: 85vh;}
  50% {padding-top: 87vh;}
  100% {padding-top: 85vh;}
}

@-moz-keyframes scroller /* Firefox */ {
  0% {padding-top: 85vh;}
  50% {padding-top: 87vh;}
  100% {padding-top: 85vh;}
}

@-webkit-keyframes scroller /* Safari and Chrome */ {
  0% {padding-top: 85vh;}
  50% {padding-top: 87vh;}
  100% {padding-top: 85vh;}
}

@keyframes hide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-moz-keyframes hide /* Firefox */ {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes hide /* Safari and Chrome */ {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/*#########################################################################################################*/
/*Navigation*/

.nav_list {
	text-align: right;
	position: fixed;
	padding-top: 10vh;
	right: 10%;
	left: 10%;
	width: 80%;
	list-style: none;
	opacity: 0;
	background-color: #f4f3ed;
	z-index: 10000;
	animation:opacp 1s;
	-moz-animation:opacp 1s;
	-webkit-animation:opacp 1s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
}

.nav_list ul {
	padding-bottom: 20px;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(56, 56, 56, .3);

}

.nav_list ul li {
  	padding-top: 20px;
	/*padding-right: 10%;*/
	opacity: 1;
	display: inline;
	text-align: right;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav_list li:not(:nth-child(4)) {
	padding-right: 4%;
}

.nav_list a {
	color: #383838;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size: 0.9em;
	opacity: 0.5;
	/*transition: 0.3s;*/
}

.nav_list a:hover {
	opacity: 1;
}

/*.portfolio:hover ~ hr {
	margin-left: 67.65%;
	width: 73px;
}

.resume:hover ~ hr {
	margin-left: 80.30%;
	width: 54px;
}

.contact:hover ~ hr {
	margin-left: 91.22%;
	width: 60px;
}

hr {
	position: absolute;
	margin-left: 57.65%;
	margin-top: 10px;
	height: .25rem;
	width: 43px;
	background: #383838;
	border: none;
	transition: 0.3s ease-in-out;
}*/

.about .current_page {
	padding-bottom: 22px;
	border-bottom: 1px solid #383838;
	opacity: 1;
}

.portfolio .current_page {
	padding-bottom: 22px;
	border-bottom: 1px solid #383838;

	opacity: 1;
}

.resume .current_page {
	padding-bottom: 22px;
	border-bottom: 1px solid #383838;
	opacity: 1;
}

.contact .current_page {
	padding-bottom: 22px;
	border-bottom: 1px solid #383838;
	opacity: 1;
}

.about:hover {
	opacity: 1;
}

.portfolio:hover {
	opacity: 1;
}

.resume:hover {
	opacity: 1;
}

.contact:hover {
	opacity: 1;
}

/*#########################################################################################################*/
/* Footer */

/*.footer .fa {
	color: #383838;
	font-size: 1.5em;
	width: 35px;
	text-decoration: none;
	opacity: 0;
	animation:opacp 1s;
	-moz-animation:opacp 1s;
	-webkit-animation:opacp 1s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
}

.footer .fa:hover {
	color: #0049ff;
	text-decoration: none;
}

.footer a .fa {
	text-decoration: none;
}*/

/*#########################################################################################################*/
/* Vertical Lines */

.v1 {
	border-left: 1px solid #383838;
	margin-left: 10%;
    height: 84vh;
    position: absolute;
    z-index: 30000;
    opacity: 0.1;
    /*animation:opacv 1s;
	-moz-animation:opacv 1s;
	-webkit-animation:opacv 1s; 
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: forwards;*/
}

.v2 {
	border-left: 1px solid #383838;
	margin-left: 30%;
    height: 84vh;
    position: absolute;
    z-index: 30000;
    opacity: 0.1;
    /*animation:opacv 1s;
	-moz-animation:opacv 1s;
	-webkit-animation:opacv 1s; 
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: forwards;*/
}

.v3 {
	border-left: 1px solid #383838;
	margin-left: 50%;
    height: 84vh;
    position: absolute;
    z-index: 30000;
    opacity: 0.1;
    /*animation:opacv 1s;
	-moz-animation:opacv 1s;
	-webkit-animation:opacv 1s; 
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: forwards;*/
}

.v4 {
	border-left: 1px solid #383838;
	margin-left: 70%;
    height: 84vh;
    position: absolute;
    z-index: 30000;
    opacity: 0.1;
    /*animation:opacv 1s;
	-moz-animation:opacv 1s;
	-webkit-animation:opacv 1s; 
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: forwards;*/
}

.v5 {
	border-left: 1px solid #383838;
	margin-left: 90%;
    height: 84vh;
    position: absolute;
    z-index: 30000;
    opacity: 0.1;
    /*animation:opacv 1s;
	-moz-animation:opacv 1s;
	-webkit-animation:opacv 1s; 
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: forwards;*/
}

@keyframes opacv {
  0% {opacity:0;}
  100% {opacity:0.1;}
}

@-moz-keyframes opacv /* Firefox */ {
  0% {opacity:0;}
  100% {opacity:0.1;}
}

@-webkit-keyframes opacv /* Safari and Chrome */ {
  0% {opacity:0;}
  100% {opacity:0.1;}
}

/*#########################################################################################################*/
/* Burger Icon */

.mobile-nav-container {
	/*padding:22px;
	border: 1px solid gray;
	border-radius: 100px;
	position: fixed;
	right: 9.3%;
	top:8.6%;*/
}


.burger-container{
    display: block;
    vertical-align: left;
    position: fixed;
    width: 20px;
    height: 20px;
    top: 10%;
    right: 10%;
    cursor: pointer;
    margin-bottom: 0px;
    z-index: 100000000000;
    opacity: 0;
    /*transform: translate(-50%, -50%);*/
    animation:opacp 1s;
	-moz-animation:opacp 1s; /* Firefox */
	-webkit-animation:opacp 1s; /* Safari and Chrome */
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
	-webkit-animation-fill-mode: forwards;
}

.burger.open div {
    background: none;
}

.burger.open div:before, .burger.open div:after {
    top: 0;
}

.burger.open div:before {
	width: 100%;
	left: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger.open div:after {
	width: 100%;
	left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger.open:hover div:before {
	/*background: lightgray;*/
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger.open:hover div:after {
	/*background: lightgray;*/
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger:hover:not(.open) div:before {
    background: gray;
}

.burger:hover:not(.open) div:after {
    background: gray;
}

.burger:hover:not(.open) div {
    background: gray;
}

.burger div:before {
    width: 70%;
    height: 2px;
    background: #383838;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; 
}

.burger div {
    width: 100%;
    height: 2px;
    background: #383838;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; 
}

.burger div:after {
    width: 80%;
    height: 2px;
    background: #383838;
    text-align: right
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; 
}

.burger div {
    position: relative;
    margin: 10px auto 0;
}

.burger div:before, div:after {
    content: "";
    position: absolute;
}

.burger div:before {
    top: -7px;
    left: 30%;
}

.burger div:after {
    top: 7px;
    left: 20%;
}

.mobile_nav {
	display: none;
}

/*#########################################################################################################*/
/* Portfolio Sections */

/*#########################################################################################################*/
/* Portfolio Content */

/*#########################################################################################################*/
/* Tablet */

@media only screen and (max-width:1024px) {
	body {
		background-color: red;
	}
	.landing_page h3{
		font-size: 3.7em;
		width: 70%;
	}

	.landing_par {
		margin-top: 125px;
	}

	.landing_par p{
		width: 80%;
	}

	.contact_par {
		margin-top: 75px;
	}

	.port_sections {
		width: 510px;
	}

	.column {
		width: 49%;
	}

	.column .image:not(:last-child) {
		padding-right: 0;
	}
}

/*#########################################################################################################*/
/* Mobile */

@media only screen and (max-width: 580px) {
	body {
		/*background-color: #f7f5f0;*/
		background-color: #ffffff;
	}
	
	.landing_page h3{
		font-size: 2.7em;
		width: 70%;
	}

	.landing_par {
		margin-top: 105px;
	}

	.landing_par p{
		width: 80%; 
	}

	.contact_par {
		margin-top: 65px;
	}

	.v2 {
		display: none;
	}

	.v3 {
		display: none;
	}

	.v4 {
		display: none;
	}
	.burger {
		display: block;
	}

	.nav_list {
		display: none;
	}

	




	.mobile_nav {
		overflow-x: hidden;
		display: none;
		position: fixed;
		list-style: none;
		padding-left: 0;
		/*left: 10%;*/
		/*top: 30vh;*/
		/*padding-left: 10%;*/
		/*margin: 0;*/
		/*border-left: 2px solid rgba(56, 56, 56, .3);;*/
		/*background-color: #f7f5f0;*/
		background-color: #ffffff;
		width: 100%;
		-webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease; 
	}

	.mobile_nav li a {
		color: #383838;
		opacity: 0.5;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.3em;
	}

	.mobile_nav li:not(:last-child) {
		padding-bottom: 8vh;
	}


	.nav_open {
		display: block;
		z-index: 100000;
		position: fixed;
		list-style: none;
		/*left: 10%;*/
		/*padding-left: -10px;*/
		height: 100vh;
		width: 100%;
		padding-left: 10%;
		padding-top: 50%;
		/*margin: 0;*/
		/*border-left: 2px solid rgba(56, 56, 56, .3);*/
		opacity: 0;
		animation:opacp 0.3s;
		-moz-animation:opacp 0.3s; /* Firefox */
		-webkit-animation:opacp 0.3s;
		-webkit-animation-fill-mode: forwards;
		-webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease; 
	}

	.nav_open ul{
		margin-top: 30vh;
		padding-left: 10px;
		/*margin-left: -10px;*/
	}

	.nav_open li a {
		color: #383838;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.3em;
		opacity: 0.5;
		margin-left: 0px;
		padding-left: 10%;
		padding-top: 2vh;
		/*z-index: 5000;*/
	}

	.nav_open li a:first-child {
		margin-top: 30vh;
	}

	.nav_open li a:not(:last-child) {
		padding-bottom: 4vh;
	}



	.about .current_page {
		/*padding-left: -12px;*/
		border-left: 2px solid #383838;
		border-bottom: none;
		opacity: 1;
	}

	.portfolio .current_page {
		/*padding-left: 12px;*/
		border-left: 2px solid #383838;
		border-bottom: none;
		opacity: 1;
	}

	.resume .current_page {
		/*padding-left: 12px;*/
		border-left: 2px solid #383838;
		border-bottom: none;
		opacity: 1;
	}

	.contact .current_page {
		/*padding-left: 12px;*/
		border-left: 2px solid #383838;
		border-bottom: none;
		opacity: 1;
	}

	.column {
		width: 100%;
	}

	.column .image:not(:last-child) {
	padding-right: 0;
}

}
